*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
}

body{
    background: #FAFAFA;
}

.logo{
    width: 127px;
    height: 122.09px;
    border-radius: 47px;
    margin-top: 32px;
}

header .container-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 98px;
    margin-left: 101px;
    margin-bottom: 43px;

}

header nav ul{
    display: flex;

}

header nav li{
    list-style: none;

}

header nav li a{
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.69);
    

}
/* Button */
header nav li  a.login{
    padding-left:  55px;
}